#first-div,  #second-div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {
  height: 10px;
  flex-grow: inherit;
}

.image-1-container {
  width: 200px;
  height: 600px;
}

.image-2-container {
  min-width: 200px;
  height: 600px;
  display: inline-block;
  background-color: crimson;
}

.image-1-container > img {
  width: 100%;
  
}

p {
  background-color: #7fdbff;
}
